<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<welcome-file-list>
		<welcome-file>signin</welcome-file>
	</welcome-file-list>
	<display-name>Projet site association pour JavaEE</display-name>
	<filter>
		<filter-name>SessionFilter</filter-name>
		<display-name>SessionFilter</display-name>
		<description>Vérifie que l'utilisateur est connecté</description>
		<filter-class>org.emn.filter.SessionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<servlet-name>Home</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<servlet-name>Items</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<servlet-name>Order</servlet-name>
	</filter-mapping>
	<servlet>
		<servlet-name>Items</servlet-name>
		<display-name>Items</display-name>
		<description>Catalogue des produits</description>
		<servlet-class>org.emn.servlet.Items</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Order</servlet-name>
		<display-name>Order</display-name>
		<description>Visualisation des commandes</description>
		<servlet-class>org.emn.servlet.Order</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Register</servlet-name>
		<display-name>Register</display-name>
		<description>Inscription de l'utilisateur</description>
		<servlet-class>org.emn.servlet.Register</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SignIn</servlet-name>
		<display-name>SignIn</display-name>
		<description>Connexion de l'utilisateur</description>
		<servlet-class>org.emn.servlet.SignIn</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Home</servlet-name>
		<display-name>Home</display-name>
		<description>Page d'accueil</description>
		<servlet-class>org.emn.servlet.Home</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Disconnect</servlet-name>
		<display-name>Disconnect</display-name>
		<description>Servlet pour la déconnexion</description>
		<servlet-class>org.emn.servlet.Disconnect</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Items</servlet-name>
		<url-pattern>/items</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Order</servlet-name>
		<url-pattern>/order</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignIn</servlet-name>
		<url-pattern>/signin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Disconnect</servlet-name>
		<url-pattern>/Disconnect</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
</web-app>
